.score-card {
  display: flex;
  justify-content: center;
}

.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  height: 100%;
  margin-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
.trophy {
  width: 250px;
  height: 200px;
  margin-top: 200px;
}

.heading {
  font-family: 'Roboto';
  font-size: 26px;
  color: #ffffff;
  font-weight: 500;
}
.score {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}
.reset-icon-container {
  display: flex;
  align-items: center;
}
.button {
  background-color: #cf60c8;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
}
.reset-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .trophy {
    width: 400px;
    height: 300px;
    margin-top: 500px;
  }
  .heading {
    font-size: 32px;
  }
  .score {
    font-size: 32px;
  }
}
